<div class="col-xs-12 mt-5 text-center">
    <h3>Hello Everyone</h3>
    <h3>Welcome to my website.</h3>
  </div>
  <div class="col-xs-12 mt-5 m-2">
    <p>
      This website is written in Angular and contains a list of my latest projects with some information on each and a link to the github
      repository where the source is available for download and observation. 
    </p>
  </div>
  <div class="col-xs-12 mt-5 m-2 text-center mb-5">
    <p>
      Please check them out at your leisure.
    </p>
    <p >
      <a class="githubfont " href="https://github.com/evelynfoy" target="_blank" rel="noopener" aria-label="Visit my github page (opens in a new tab)">https://github.com/evelynfoy
        <i class="fa fa-github-square linkedinicon" aria-hidden="true"></i>
        </a>
    </p>
  </div>
