<!-- <div class="row mt-5 text-center">
   <div class="col-xs-12 col-md-6 col-lg-4">
    <img 
    [src]="'assets/images/recipes.png'"
    alt="recipes" 
    class="img-fluid">
  </div> -->

  <!-- <div class="col-md-4 offset-md-4 text-center">
    <a  routerLinkActive="active" routerLink="/projects" aria-current="page"><img 
      [src]="'assets/images/cheese-wine.png'"
      alt="recipes" 
      class="img-fluid"></a>
      <h6 style="background-color: pink; color:darkslategray;text-decoration: none;">Cheese and Wine Boutique</h6>

  </div>
</div>  -->
<div class="row">
  <div class="col-xs-12 mt-5 text-center">
    <h3>Hello Everyone</h3>
    <h3>Welcome to my website.</h3>
  </div>
</div>
<div class="row mt-5">
  <!-- <div class="col-xs-12 col-md-5 col-lg-4 ">
    <a  routerLinkActive="active" routerLink="/projects" aria-current="page">
      <img [src]="'assets/images/web-site.png'"
      alt="recipes" 
      class="img-fluid"></a>
      <h6 style="background-color: pink; color:darkslategray;text-decoration: none;text-align: center;">This web site</h6>
   
  </div> -->
  <div class="col-xs-12">
    <p>
      My name is Evelyn and I am an aspiring developer. I have worked as a developer in the past on older technologies but now I am looking to update my skills. I am currently working in a support role.
    </p>
    <p>
      To that end I have completed various courses including a <code>Professional Diploma in Full Stack Software Development</code> in 2022 and I have completed a number of projects which I have detailed on the <a routerLink="/projects" alt='link to projects page' aria-label="link to projects page">projects</a> page.
    </p>
    <p>
      My latest endeavour is to complete Udemys 'Angular - The Complete Guide (2024 Edition)' course in 2024 and to build this website in angular as practise.
    </p>
    <p>
      I have included my previous website which is hosted on Microsoft Azure as a <a routerLink="/projects" alt='link to projects page' aria-label="link to projects page">project</a>. It details a collection of projects I have completed in previous years.
    </p>
    <p>I completed the <code>Programming in C#</code> and <code>Programming in HTML5 with JavaScript and CSS3</code> certification exams in Dec 2019 and I am now thinking of completing another C# project as a refresher.</p>
    <p>
      I am looking for opportunites to build my skills so please contact me <a href = "mailto: abc@example.com">here</a> if you have any suggestions or opportunites where I might achieve this.
    </p>
  </div>
  
</div>
<div class="row">
  
  <div class="col-sm-12 col-lg-8 mt-5">
    <p>
      To that end I have completed various courses including a <code>Professional Diploma in Full Stack Software Development</code> in 2022 and I have completed a number of projects which I have detailed on the <a routerLink="/projects" alt='link to projects page' aria-label="link to projects page">projects</a> page.
    </p>
  </div>
  <div class="col mt-3 text-center">
    <img [src]="'assets/images/FullStackCert.png'"
      alt="recipes" 
      class="img-fluid">
  </div> 
  <div class="col mt-3 text-center">
    <img [src]="'assets/images/FullStackCICert.png'"
      alt="recipes" 
      class="img-fluid">
  </div>
  
</div>
<!-- Idea 1-->
<!-- <div class="row">
  <div class="col-xs-12 col-md-5 col-lg-2 mt-3">
    <img [src]="'assets/images/ProgramminginC.png'"
      alt="recipes" 
      class="img-fluid">
  </div>
  <div class="col-xs-12 col-md-5 col-lg-8 mt-5">
    <p>
      I completed the <code>Programming in C#</code> and <code>Programming in HTML5 with JavaScript and CSS3</code> certification exams in Dec 2019 and I am now thinking of completing another C# project as a refresher.
    </p>
  </div>
  <div class="col-xs-12 col-md-5 col-lg-2 mt-3">
      <img [src]="'assets/images/ProgramminginHTML5.png'"
        alt="recipes" 
        class="img-fluid">
  </div> 
</div> -->

<!-- Phone -->
<div class="row">
  
  <div class="col-sm-12 col-lg-8 mt-5">
    <p>
      I completed the <code>Programming in C#</code> and <code>Programming in HTML5 with JavaScript and CSS3</code> certification exams in Dec 2019 and I am now thinking of completing another C# project as a refresher.
    </p>
  </div>
  <div class="col mt-3 text-center">
    <img [src]="'assets/images/ProgramminginC.png'"
      alt="recipes" 
      class="img-fluid">
  </div>
  <div class="col mt-3 text-center">
      <img [src]="'assets/images/ProgramminginHTML5.png'"
        alt="recipes" 
        class="img-fluid">
  </div> 
</div>
<!-- <div class="col-xs-12 col-md-5 col-lg-4 ">
    <a  routerLinkActive="active" routerLink="/projects" aria-current="page">
      <img [src]="'assets/images/recipes.png'"
      alt="recipes" 
      class="img-fluid"></a>
      <h6 style="background-color: pink; color:darkslategray;text-decoration: none;text-align: center;">Recipes</h6>

  </div>

<div class="col-xs-12 mt-5 m-2 text-center mb-5">
    <p>
      Please check them out at your leisure.
    </p> -->
    <!-- <div class="row mt-5">
      <div class="col-md-4 offset-md-2 ">
        <a  routerLinkActive="active" routerLink="/projects" aria-current="page">Projects page</a>
      </div>
      <div class="col-md-3 ">
        <a href="https://github.com/evelynfoy" target="_blank" rel="noopener" aria-label="Visit my github page (opens in a new tab)">Github
          <i class="fa fa-github-square linkedinicon" aria-hidden="true"></i>
          </a>
      </div>
    </div> -->
    <div class="row mt-5">
      
    </div>
  <!-- </div> -->


  


  


  

