<div class="project row">
    <div class="row">
        <div class="col-xs-12">
            <h3> {{ project.name }} </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
           {{ project.description }} 
        </div>
    </div>
    <div class="row mt-3 text-center" *ngIf="this.project.imagePath !=''">
        <div class="col-xs-12">
            <img 
            [src]="project.imagePath" 
            alt="{{project.name}}" 
            class="img-responsive">
        </div>
    </div>
    <div class="row mt-3">
        <div class="d-none d-sm-block">
           Github: <a href="{{ project.githubUrl }} " target="_blank" rel="noopener" aria-label="Visit the project website here">{{ project.githubUrl }} </a>
        </div>
        <div class="col-xs-12 text-center d-block d-sm-none">
           <a href="{{ project.githubUrl }} " target="_blank" rel="noopener" aria-label="Visit the project website here">Github </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="d-none d-sm-block">
            Website: <a href="{{ project.websiteUrl }} " target="_blank" rel="noopener" aria-label="Visit the project website here">{{ project.websiteUrl }} </a>
        </div>
        <div class="col-xs-12 text-center d-block d-sm-none">
            <a href="{{ project.websiteUrl }} " target="_blank" rel="noopener" aria-label="Visit the project website here">Website</a>
        </div>
    </div>
    <div class="col-xs-12 col-md-8 mt-5 mb-5 px-5" *ngIf="allowEdit()">
        <button class="btn btn-secondary" (click)="onEditProject()">Edit Project</button>
    </div>
</div>

